:root {
    --main-drop-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.3);
    --main-drop-shadow-raised: 0 0 10px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(0, 0, 0, 0.3);
    --main-space-gap: 10px;
    --main-border-radius: 5px;
    /* --- color palette --- */
    --color-primary: #ff9900;
    --color-primary-light: #ffca47;
    --color-primary-dark: #c66a00;
    --color-secondary: #f44336;
    --color-secondary-light: #ff7961;
    --color-secondary-dark: #ba000d;
    --color-background: #ffffff;
    --color-on-primary: #000000;
    --color-on-primary-light: #000000;
    --color-on-primary-dark: #000000;
    --color-on-secondary: #000000;
    --color-on-secondary-light: #000000;
    --color-on-secondary-dark: #ffffff;
    --color-on-background: #000000;
}

/* --- base styling --- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

/* --- site-header --- */

body header.site-header {
    position: sticky;
    top: 0;
    box-shadow: var(--main-drop-shadow);
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    display: flex;
    justify-content: space-between;
}

body header.site-header .site-logo {
    padding: var(--main-space-gap);
}

body header.site-header .site-logo img {
    max-width: 100px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
    transition: filter .3s;
}

body header.site-header .site-logo:hover img {
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.3));
}

body header.site-header nav.site-nav {
    padding-right: var(--main-space-gap);
}

body header.site-header nav.site-nav a.page-link {
    text-decoration: none;
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0 var(--main-space-gap);
    position: relative;
}

body header.site-header nav.site-nav a.page-link::after {
    content: '';
    background-color: var(--color-secondary);
    position: absolute;
    height: 0px;
    width: 10%;
    bottom: 0;
    left: 50%;
    margin-left: -0%;
    transition: height .2s, width .4s cubic-bezier(1, 0, 0.50, 1), margin-left .4s cubic-bezier(1, 0, 0.50, 1);
}

body header.site-header nav.site-nav a.page-link:hover::after {
    height: 5px;
    width: 100%;
    margin-left: -50%;
}

/* --- page-content --- */

body main.page-content {
    flex-grow: 1;
    background-color: var(--color-background);
    color: var(--color-on-background);
    padding: var(--main-space-gap);
}

/* --- site-footer --- */

body footer.site-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--color-secondary-dark);
    color: var(--color-on-secondary-dark);
    box-shadow: var(--main-drop-shadow);
}

body footer.site-footer a {
    color: var(--color-on-secondary-dark);
}

body footer.site-footer section {
    padding: var(--main-space-gap);
}

body footer.site-footer section ul {
    list-style-type: none;
    padding: 0;
}

/* ----- element restyling ----- */

a[target="_blank"]::after {
    content: '\f3cc';
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article {
    box-shadow: var(--main-drop-shadow);
    border-radius: var(--main-border-radius);
    overflow: hidden;
}

article header,
article main,
article footer {
    padding: var(--main-space-gap);
}

article header {
    background-color: var(--color-secondary-light);
    color: var(--color-on-secondary-light);
}

p {
    padding: calc(var(--main-space-gap) / 2) 0;
}

p:first-of-type {
    padding-top: 0;
}

ul {
    padding-left: var(--main-space-gap);
}

p:last-of-type {
    padding-bottom: 0;
}

/* --- tables --- */

table {
    border-collapse: collapse;
}

table thead {
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
}

table tr th,
table tr td {
    padding: 0 calc(var(--main-space-gap) / 2);
}

table tr th:first-of-type,
table tr td:first-of-type {
    padding-left: var(--main-space-gap);
}

table tr th:last-of-type,
table tr td:last-of-type {
    padding-right: var(--main-space-gap);
}

table thead tr:last-of-type {
    border-bottom: 1px solid var(--color-on-secondary);
}

table thead tr th {
    position: relative;
}

table thead tr th::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 3px;
    width: 1px;
    background-color: var(--color-on-secondary);
}

table thead tr th:last-of-type::after {
    content: none;
}

table tbody tr {
    border-bottom: 1px solid #000000;
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

table tbody tr:last-of-type {
    border: none;
}

table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/* --- custom classes --- */

.highlight {
    padding: var(--main-space-gap);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: var(--main-border-radius);
    text-shadow: var(--main-drop-shadow);
    position: relative;
    overflow: hidden;
}

.highlight .highlight-controlls {
    position: absolute;
    top: -100%;
    right: var(--main-space-gap);
    background-color: #212121;
    padding: calc(var(--main-space-gap) / 2);
    filter: drop-shadow(0 2px 5px rgba(0,0,0,0.3));
    z-index: 9;
    border-bottom-right-radius: var(--main-border-radius);
    transition: top 0.3s ease;
}

.highlight:hover .highlight-controlls {
    top: 0;
}

.highlight .highlight-controlls::before {
    content: '';
    position: absolute;
    background-color: inherit;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.highlight .highlight-controlls button {
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

.highlight tr:hover {
    background: none;
}

.highlight .code {
    padding-left: var(--main-space-gap);
}