<footer class="site-footer">
    <section>
        <h3>Contact</h3>
        <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li>
                <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </li>
        </ul>
    </section>

    <section>
        <h3>Social media</h3>
        <ul class="social-media-list">
            {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="mdi mdi-twitter" rel="noreferrer" target="_blank">{{ site.twitter_username }}</a>
            </li>
            {% endif %}
        </ul>
    </section>    
</footer>