<header class="site-header">
    <div class="site-logo">
        <a href="{{ site.baseurl }}/">
            <img src="{{ siize.baseurl }}/images/logo.svg" alt="{{ site.title }}" />
        </a>
    </div>

    <nav class="site-nav">
        {% for my_page in site.pages %} {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %} {% endfor %}
    </nav>
</header>