<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
        " | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ " /images/logo.png " | prepend: size.baseurl }}">

    <link rel="stylesheet" href="{{ " /css/syntax.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.6.95/css/materialdesignicons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ " /css/notification.min.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ " /js/notification.min.js " | prepend: site.baseurl }}"></script>

    <script>
        $(function () {
            /* --- pageload stuff --- */
            $('.highlight').prepend('<div class="highlight-controlls">' 
                + '<button class = "mdi mdi-content-copy buCopyCodeToClipboard" '
                + 'title="Copy to clipboard" ></button></div>');

            /* --- page interaction --- */
            $(document).on('click', '.highlight .buCopyCodeToClipboard', function() {
                var sel, range;
                var el = $(this).closest('.highlight').find('.code')[0];
                if (window.getSelection && document.createRange) { //Browser compatibility
                sel = window.getSelection();
                if(sel.toString() == ''){ //no text selection
                    window.setTimeout(function(){
                        range = document.createRange(); //range object
                        range.selectNodeContents(el); //sets Range
                        sel.removeAllRanges(); //remove all ranges from selection
                        sel.addRange(range);//add Range to a Selection.
                        document.execCommand('copy');
                        new notification('Copied to clipboard.');
                    },1);
                }
                }else if (document.selection) { //older ie
                    sel = document.selection.createRange();
                    if(sel.text == ''){ //no text selection
                        range = document.body.createTextRange();//Creates TextRange object
                        range.moveToElementText(el);//sets Range
                        range.select(); //make selection.
                        document.execCommand('copy');
                        new notification('Copied to clipboard.');
                    }
                }                
            });
        });
    </script>
</head>