<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content">      
        {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
